<head>
  <link rel="stylesheet" href="blogposts.css">
</head>

<p id="notice"><%= notice %></p>

<h2>
  <%= @blogpost.title %>
</h2>

<div>
  <boxed>
  <%= @blogpost.contents %>
  </boxed>
</div>

<%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
<%= link_to 'Back', blogposts_path %>
